
<!-- <nav class="navbar navbar-expand-lg bg-info navbar-dark" *ngIf="loginStatus"> -->
  <!--<nav class="navbar navbar-expand-lg bg-info navbar-dark"> -->
   <!-- <a class="navbar-brand" href="">TJC EApp</a>
  <ul class="navbar-nav ms-auto"> -->

      <!-- <li class="navbar-items">
          <a class="nav-link" href= "">Dashboard</a>
      </li> -->
      <!-- <li class="navbar-items">
          <a class="nav-link" href= "Register">Register</a>
      </li> -->
      <!-- <li class="navbar-items"> -->
          <!-- <a class="nav-link" href= "Login">Logout</a> -->
          <!-- <i class="fa fa-sign-out fa-3x" aria-hidden="true" (click)="logout()"></i> -->
          <!-- <button class="btn" (click)="logout()">Log Out</button> -->

      <!-- </li>
      
  </ul>
</nav> -->


<div>

  <!-- <app-register></app-register> -->
  <!-- <app-login></app-login> -->
  <!-- <app-hcouser> </app-hcouser> -->
   <router-outlet></router-outlet>
  <!-- <app-dashboard> </app-dashboard> -->
  <!-- <update-dashboard></update-dashboard> -->
<!-- <app-account-executive> </app-account-executive> -->
  <!-- <app-nav></app-nav> -->
  <!-- <app-view></app-view> -->

</div>

