form{
    width: 500px;
    background-color: #fccb90;
}

.container{

         height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
}

.alert {
    width:40%; 
    margin: auto;  
    
 }

 body {
    background-color: rgb(247, 172, 203);
}